* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: rgb(46, 46, 46);
}

h1,h2,h3,h4,h5,h6,p,li {
    color: rgb(209, 209, 209);
}

.client {
    border: 6px solid rgb(175, 175, 175);
    border-radius: 5px;
    background-color: #171717;
}

.client-name {
    font-weight: normal;
    margin-left: 10px;
}

.client-name ul {
    font-weight: normal;
}

#connection-status-good {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: black;
    background-color: rgb(0, 196, 0);
    box-shadow: 
        0 0 10px 5px rgb(96, 255, 91),
        0 0 10px 6px rgb(193, 250, 191),
        0 0 14px 9px rgb(9, 255, 0);
}

#connection-status-warning {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: black;
    background-color: rgb(193, 196, 0);
    box-shadow: 
        0 0 10px 5px rgb(255, 244, 91),
        0 0 10px 6px rgb(246, 250, 191),
        0 0 14px 9px rgb(238, 255, 0);
}

header {
    border-bottom: 2px solid gray;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    margin: 1.5em 1em 0 1em;
}

ul {
    display: grid;
    grid-template-columns: auto auto 175px 75px;
    list-style: none;
    font-size: large;
    align-items: center;
}

@media (max-width: 960px) {
    main {
        grid-template-columns: auto;
        margin: 2em 5em 0 5em;
    }
}